PORT=4000

DB_HOST=todo-db
DB_PORT=5432
DB_USER=todo
DB_PASS=todo
DB_NAME=todo

# SMTP (для отправки писем). Если запустишь mailhog, используй host=mailhog, port=1025
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

# IMAP/POP3 (для получения писем). Укажи реальные учётки для тестирования или оставь пустыми.
IMAP_HOST=
IMAP_PORT=993
IMAP_TLS=true
IMAP_USER=
IMAP_PASS=

POP3_HOST=
POP3_PORT=110
POP3_USER=
POP3_PASS=